<% if(typeof ticketInfo !== 'undefined') { %>
    <div class="ticket-box">
        <div class="ticket-box-card">
            <h1 class="ticket-box-title"><%= ticketInfo.ticket_title %></h1>
            <p class="ticket-box-body"><%= ticketInfo.ticket_body %></p>
            <div class="ticket-box-info">
                <h2 class="ticket-box-owner"><%= ticketInfo.user_name %></h2>
                <h2 class="ticket-box-status"><%= ticketInfo.ticket_status %></h2>
                <% if(typeof role !== 'undefined' && role === 'ADMIN') { %>
                    <form method="POST" action="/ticket/delete">
                        <input type="text" value="<%= ticketInfo.ticket_id %>" name="ticketID" style="display: none;">
                        <input class="deleteBtn" type="submit" value="Delete">
                    </form>
                <% } %>
            </div>
        </div>
    </div>
<% } %>